
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>History</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="panel-body">
            <h2>List of conference participants:</h2>
            16
        </div>
    </body>
</html>
