@{
    ViewData["Title"] = "Run";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <p>SEIM-2020 conference will be held on 11th April in St. Petersburg.</p>
        <a asp-action="History">Register now!</a>
    </div>
</body>
</html>
