@model CurrentStateModel

@{
    ViewData["Title"] = "Test Runner";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row">

        <div class="col-sm">

            <h2>Сборки</h2>

            <form asp-action="AddAssembly" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Загрузить" />
            </form>

            <br />

            <form asp-controller="Home" asp-action="ClearCurrentAssemblies">
                <p>
                    <input type="submit" value="Очистить" />
                </p>
            </form>

        </div>

        <div class="col-sm">
            <h2>Тесты</h2>

            <form asp-controller="Home" asp-action="RunTests">
                <p>
                    <input type="submit" value="Пуск" />
                </p>
            </form>

        </div>
    </div>

    <div class="row">

        <div class="col-sm">

            <table class="table table-bordered">
                @foreach (var assembly in Model.Assemblies)
                {
                    <tr>
                        <td>@assembly</td>
                    </tr>
                }
            </table>

        </div>

        <div class="col-sm">

            <table class="table table-bordered">
                @foreach (var test in Model.Tests)
                {
                    <tr>
                        <td>@test.Name</td>
                    </tr>
                }
            </table>

        </div>
    </div>

</body>
</html>
