@model IEnumerable<AssemblyModel>

@{
    ViewData["Title"] = "Test Runner";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <h3>Выберите файл для загрузки</h3>
    <form asp-action="AddAssembly" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="file" name="file" /><br>
        <input type="submit" value="Загрузить" />
    </form>

    <h3>Сборки</h3>

    @foreach (var assemblyFileModel in Model)
    {
        <h4>@assemblyFileModel.Name</h4>
    }

    @foreach (var assemblyFileModel in Model)
    {
        <h4>@assemblyFileModel.Id</h4>
    }

    <form asp-controller="Home" asp-action="RunTests">
        <p>
            <input type="submit" value="Pusk" />
        </p>
    </form>

</body>
</html>
